.ShopNameContainer {
    display: flex;
    justify-content: center;
}

.ShopDescriptionContainer{
    display: flex;
    justify-content: space-evenly;
    border: 1px solid #735E24;
    border-radius: 10px;
    padding: 15px;
    margin: 15px;
}

.EncounterMainContainer ul{
    display: flex;
    list-style: none;
    margin: 5px;
    padding: 10px;
    gap: 8px;
    justify-content: space-evenly;
}

.SubmitButtonContainer {
    display: flex;
    justify-content: center;
}

.SubmitButtonContainer button {
    width: 380px;
    max-width: 380px;
    height: 25px;
}
